<%#= form_for(@jedi) do |f| %>
<%= form_for @jedi, :html => {:multipart => true} do |f| %>
  <% if @jedi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jedi.errors.count, "error") %> prohibited this jedi from being saved:</h2>

      <ul>
      <% @jedi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
  <%= f.label :sex %><br>
  	<%= f.label :Male %>
  	<%= f.radio_button(:sex,"Male")%>
  	<%= f.label :Female %>
  	<%= f.radio_button(:sex,"Female")%>
  	
  
    <%#= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>

   <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
