<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @jedi.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @jedi.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @jedi.sex %>
</p>

<p>
  <strong>Location:</strong>
  <%= @jedi.location %>
</p>

<p>
  <strong>Picture:</strong>
  <%#= @jedi.picture %>
  <%= image_tag(@jedi.picture_url, :width => 400) if @jedi.picture.present? %>
</p>

<%= link_to 'Edit', edit_jedi_path(@jedi) %> |
<%= link_to 'Back', jedis_path %>
